<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js data binding test1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>






    <div id="app1">
        
    </div>
  
     

  
<script> var cityData = {{ city|safe }};
    // Parse the JSON string into a JavaScript object
    </script>


    <div id="app2">
        <p>{{ msg2 }}</p>
        <input v-model="msg2">
        </br>
        <button v-on:click="hide">toggle it</button>
        <span v-if="bool">its visible</span>



    </div>

    

   

    

    <div id="app3">
        
    </div>


    <script src="{{url_for('static', filename='index.js')}}"></script>

    </script>
</body>

</html>