<!-- ignore the problems/errors -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js data binding test1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="icon" href="data:,">
</head>

<body>
    <div id="app1">
        
    </div>
  
     

  
<script> var cityData = {{ city.city|safe }};
    // Parse the JSON string into a JavaScript object
    </script>


    <div id="app2" class="styledApp">
        <p>Type anything here, your message will be forwarded to next page.</p>
        <form action="{{ url_for('test') }}" method="get">
            <input type="text" name="msg2" placeholder="Type something" required>
            <br>
            <button type="submit">Go to test.html</button>
        </form>
        <button v-on:click="hide">toggle it</button>
        <span v-if="bool">its visible</span>
    </div>

    

   

    

    <div id="app3" >
        
    </div>


    <script src="{{url_for('static', filename='index.js')}}"></script>

    
</body>

</html>